header.row-centered
  img(class='logo', src='/images/fsblogo.jpg', width='300')

  //- div.container
  //-   div.navbar-header
  //-     a(class='navbar-brand', href='/') for sale bot
  //-   nav
  //-     ul.nav.navbar-nav.navbar-right
  //-       li.user-email
  //-         a(href='/user', class='new-account') #{user.email}
  //-       li.signout
  //-         a(href='/signout', class='new-account') Sign Out
