extends layout

block content
	include header

	div.container
		div.row.row-centered
			div.col-xs-4.col-centered
				div.account-wall
					form(action='/login', method='POST')
						div.form-group
							input(type='email', id='username', name='username' class='form-control', placeholder='Email', required, autofocus)
						div.form-group
							input(type='password', id='password', name='password' class='form-control', placeholder='Password', required)
						button(class='btn btn-primary', type='submit') Sign in
						a(href='/signup', class='text-center new-account right') Create an account
						span.clearfix
				#message
				if message
					h1.text-center.error-message #{message}


