extends layout

block content
	div.container
		div.row.row-centered
			div.col-xs-6.col-centered
				h1.login-title Registration
				div.account-wall
					form(class='form-signin', action='/signup', method='POST')
						div.form-group
							label(for='username') Email address
							input(type='email', id='username', name='username', class='form-control', placeholder='Email',required)
						div.form-group
							label(for='password') Password
							input(type='password', id='password', name='password', class='form-control nomargin', placeholder='Password', required)
						div.form-group
							label(for='fn') First Name
							input(type='text', id='fn', name='firstName', class='form-control', placeholder='First Name',required)
						div.form-group
							label(for='ln') Last Name
							input(type='text', id='ln', name='lastName', class='form-control', placeholder='Last Name',required)
						button(class='btn btn-primary', type='submit') Register
						span.clearfix
				#message
				if message
					h1.text-center.error-message #{message}

