body {
  font: 14px "Helvetica Neue", Helvetica, Arial, sans-serif;
  background: #bbb3a6;
  color: #383431;
  overflow-y: scroll;
}

@media (min-width:992px) {
  .container {
    width: 970px;
  }
}

@media (min-width:1200px) {
  .container {
    width: 970px;
  }
}

select, textarea, input[type="text"], input[type="password"], input[type="datetime"], input[type="datetime-local"], input[type="date"], input[type="month"], input[type="time"], input[type="week"], input[type="number"], input[type="email"], input[type="url"], input[type="search"], input[type="tel"], input[type="color"] { font-size: 16px; }

.btn-primary {
  background-color: #24ca53;
  border-color: #31ae66;
}

.btn-primary:hover, .btn-primary:focus, .btn-primary:active, .btn-primary.active, .open>.dropdown-toggle.btn-primary {
  background-color: #21bc4d;
  border-color: #31ae66;
}

a {
  color: #1da544;
  text-decoration: none;
}

a:hover, a:focus {
  color: #178235;
  text-decoration: underline;
}

.bootstrap-select:not([class*=col-]):not([class*=form-control]):not(.input-group-btn) {
  width: 100%;
}



/*a {
  color: #00B7FF;
}

.form-signin{
  margin: 0 auto;
}
.form-signin .form-signin-heading, .form-signin .checkbox{
  margin-bottom: 10px;
}
.form-signin .checkbox{
  font-weight: normal;
}
.form-signin .form-control{

}
.form-signin .form-control:focus{
  z-index: 2;
}
.form-signin input[type="text"]{

}
.form-signin input[type="password"]{

}
.form-signin input[type="password"].nomargin{

}*/


header {
  margin-bottom: -20px;
  margin-top: -20px;
  height: 300px;
}

.right {
  float: right;
}

.col-centered {
  float: none !important;
  margin: 0 auto;
}

/* centered columns styles */
.row-centered {
  text-align:center;
}
.col-centered {
  display:inline-block;
  float:none;
  /* reset the text-align */
  text-align:left;
  /* inline-block space fix */
  margin-right:-4px;
}
.col-fixed {
  /* custom width */
  width:320px;
}
.col-min {
  /* custom min width */
  min-width:320px;
}
.col-max {
  /* custom max width */
  max-width:320px;
}


.account-wall{
  margin-top: 20px;
  padding: 30px 15px 15px;
  background: #bce42d;
  border-radius: 12px;
}
.new-account{
  display:inline-block;
  padding-top: 10px;
}

.account-wall input {
  background: rgba(238, 242, 188, 1);
}


h1.error-message{
  color: red;
}
ul.user-details{
  list-style: none;
}

div.search{
  background: #bce42d;
  border-radius: 16px;
  float: left;
  clear: left;
  margin-bottom: 41px;
  color: rgb(86, 86, 86);
  cursor: pointer;
  width: 100%;
  height: 26px;
  position: relative;
}

div.provider {
  float: left;
  padding: 8px 5px 5px 8px;
  background-color: rgba(255,255,255,.3);
  border-top-left-radius: 12px;
  border-bottom-left-radius: 12px;
  font-size: 8px;
  width: 20px;
  height: 13px;
  text-align: center;
  -webkit-box-sizing: content-box;
}

div.title {
  float: left;
  padding: 4px 0px 4px 6px;
  overflow: hidden;
  text-overflow: ellipsis;
  width: 185px;
  white-space:nowrap;
}

div.results {
  float: right;
  margin: 3px 0px 3px;
  padding: 3px 7px;
  background-color: rgba(255,255,255,.3);
  border-radius: 12px;
  font-size: 12px;
  width: 20px;
  height: 20px;
}

div.delete {
  float: right;
  margin: 3px;
  padding: 1px 6px 3px 7px;
  background-color: rgba(245,107,107,.9);
  border-radius: 12px;
  width: 20px;
  height: 20px;
  font-size: 13px;
}

div.confirm {
  position: absolute;
  right: 27px;
  top: 6px;
  color:rgba(245,107,107,.9);
  text-decoration: underline;
  opacity: 0;
  font-size: 11px;
  pointer-events: none;
  -webkit-transition: opacity .4s;
}

div.needle {
  clear: right;
}

div.forum {
  width: 400px;
}

div.search.show-confirm .confirm {
  pointer-events: auto;
  opacity: 1;
}

div.confirm:hover {
  color: white;
}

ul {
  -webkit-padding-start: 0;
}
